<%- include('header') %>
<form method="GET" action="/cotacao">
    <input name="cotacao" placeholder="Dollar Quotation" value="<%= cotacao %>"><br>
    <input name="quantidade" placeholder="Amount in Dollars"><br>
    <button >Convert!</button>
</form>
<%- include('footer') %>